body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #FFF9C4, #FFD54F);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.search-box{
    margin:20px 0;
}

input{
    padding:10px;
    width:65%;
}

button{
    padding:10px 15px;
    cursor:pointer;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
}

button:hover{
    background:#0056b3;
}

.weather-card{
    margin-top:20px;
}

#errorMsg{
    color:red;
    margin-top:15px;
}
