*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(135deg, #FFF9C4, #FFD54F);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:#fff;
    width:450px;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

h1{
    margin-bottom:25px;
    color:#222;
    font-size:40px;
}

.search-box{
    display:flex;
    justify-content:center;
    margin-bottom:25px;
}

.search-box input{
    width:70%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    outline:none;
}

.search-box input:focus{
    border-color:#FFC107;
    box-shadow:0 0 8px rgba(255,193,7,0.4);
}

.search-box button{
    margin-left:10px;
    padding:12px 18px;
    border:none;
    border-radius:8px;
    background:#FFC107;
    color:#000;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.search-box button:hover{
    background:#FFB300;
}

.weather-card{
    margin-top:20px;
}

.weather-card h2{
    font-size:36px;
    color:#333;
    margin-bottom:15px;
}

.weather-card p{
    margin:15px 0;
    font-size:22px;
    color:#444;
}

.weather-card span{
    font-weight:bold;
    color:#111;
}

#errorMsg{
    margin-top:15px;
    color:red;
    font-size:18px;
    font-weight:bold;
}

/* Responsive Design */
@media(max-width:500px){

    .container{
        width:90%;
        padding:20px;
    }

    h1{
        font-size:30px;
    }

    .search-box{
        flex-direction:column;
    }

    .search-box input{
        width:100%;
        margin-bottom:10px;
    }

    .search-box button{
        width:100%;
        margin-left:0;
    }
}
